@{
    ViewData["Title"] = "Home Page";
}
@model _12306.Controllers.TrainController.pia

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Model.start
    @Model.end
    @Model.year
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>