<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>personal</title>
    <link rel="stylesheet" href="/Person/personal_center.css" />
</head>

<body>
    <br>
    <div class="wrapper content">
        <!-- 面包屑 -->
        <div class="breadcrumb">
            当前位置：<a href="/Person/center">个人中心</a>
        </div>
        <!-- 个人中心 -->
        <div class="center-box">
            <!-- 个人中心左侧 -->
            <!-- 个人中心左侧菜单 -->
            <ul class="center-menu" role="menubar">
                <li class="menu-item" id="gerenzhongxin" role="menuitem">
                    <h2 class="menu-tit active">
                        <a href="/Person/center;">个人中心</a>
                    </h2>
                </li>
                <li class="menu-item" role="menuitem">
                    <h2 class="menu-tit">
                        <a href="/Person/ticket">订单中心</a>
                    </h2>
                </li>
                <li class="menu-item" role="menuitem">
                    <h2 class="menu-tit">
                        <a href="/Person/information">个人信息</a>
                    </h2>
                </li>
            </ul>

            <!-- 个人中心右侧 -->
            <div class="center-main" style="min-height: 310px">
                <div class="center-welcome"
                     id="js-minHeight"
                     style="min-height: 310px">
                    <div class="welcome_data">
                        <div class="welcome-con">
                            <p>
                                欢迎您登录中国铁路客户服务中心网站。
                                <br>
                                <span style="color: red;">如果您的密码在其他网站也使用，建议您修改本网站密码。</span>
                                <br>
                                <span style="color: red;">为配合做好新冠疫情常态化防控工作，同时便于乘车人及时接收列车运行变更信息，购票时需登记每名乘车旅客中国大陆手机号码，请您提前填报并通知乘车人协助完成手机号码核验。对于未成年人、老年人等重点旅客以及无手机的旅客，可提供监护人或能及时联系的亲友手机号码。铁路部门将依法保护旅客个人信息安全。</span>
                                如果您要更改个人信息，请
                                <a id="link_for_reSendEmail" href="/Person/information" class="txt-primary underline">查看个人信息</a>。
                                <br>
                                如果您需要订购车票，请您点击
                                <a id="link_for_ticket" class="txt-primary underline" href="/Train/Index">车票订购</a>。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
