<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>退票成功</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .t-succ {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 800px;
            height: 310px;
            border: 1px solid #1678be; /*边框*/
            border-radius: 5px 5px 0 0; /*边框圆角*/
            background-color: #fff;
        }

        .pay-tips {
            padding: 35px 50px 35px 50px;
            position: relative;
            border-top: 0;
        }

        .tips-hd {
            height: 40px;
            line-height: 38px;
            color: #fff;
            padding-left: 20px;
            font-size: 18px;
            position: relative;
            background-color: #3B99FC;
        }

        .tip {
            padding-top: 5px;
            font-size: 30px;
            line-height: 30px;
        }

        .color {
            color: #26a306;
        }
    </style>
</head>
<body>
    <div class="t-succ">
        <div class="tips-hd">
            退票申请
        </div>
        <div class="pay-tips">
            <div class="tip" style="color: #26a306;">
                <img src="/Person/image/right.png" alt="加载失败" style="width: 30px; line-height: 30px; vertical-align: middle;">
                <strong>操作成功！</strong>
            </div>
            <br>
            <div style="padding-top: 20px;">
                乘车日期：
                <span class="color">2022年09月07日</span>
                <br>
                车次：
                <span class="color">7515</span>
                <br>
                共计退款：
                <span class="color">6.5元</span>
                <br>
                票款原价：
                <span class="color">6.5元</span>
                <br>
                退票手续费：
                <span class="color">0.0元</span>
                <span>（按<span class="color">0%</span>收取退票手续费）</span>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</body>
</html>