@model ReturnModels.Operation_staus
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>退票成功</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .t-succ {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 800px;
            height: auto;
            border: 1px solid #1678be; /*边框*/
            border-radius: 5px 5px 0 0; /*边框圆角*/
            background-color: #fff;
        }

        .pay-tips {
            border-top: 0;
        }

        .tips-hd {
            height: 40px;
            line-height: 38px;
            color: #fff;
            padding-left: 20px;
            font-size: 18px;
            position: relative;
            background-color: #3B99FC;
        }

        .tip {
            padding-top: 5px;
            font-size: 30px;
            line-height: 30px;
            margin-left: 50px;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        button {
            height: 30px;
            width: 100px;
            border: none;
            border-radius: 5px;
            background-color: darkorange;
            color: #FFFFFF;
        }

            button:hover {
                background-color: rgba(255, 140, 0, 0.642);
                cursor: pointer;
            }
    </style>
</head>
<body>
    <div class="t-succ">
        <div class="tips-hd">
            退票申请
        </div>
        <div class="pay-tips">
            @{
                if (Model != null)
                {
                    if (Model.IsVaild == -1)
                    {
                <div class="tip" style="color: #26a306;">
                    <img src="/Person/image/right.png" alt="加载失败" style="width: 30px; line-height: 30px; vertical-align: middle;">
                    <strong>退票成功！</strong>
                </div>
                    }
                    else
                    {
                <div class="tip" style="color: red;">
                    <img src="/Person/image/wrong.png" alt="加载失败" style="width: 30px; line-height: 30px; vertical-align: middle;">
                    <strong>退票失败！</strong>
                </div>
                    }

                }
            }
            <div style="text-align:center;">
                <button type="button" onclick="location.href=('/Person/center')">返回个人主页</button>
            </div>
            <br>
        </div>
    </div>
</body>
</html>