@model ReturnModels.Login_Staus
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>退票成功</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        ul {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        .nav {
            width: 160px;
            background-color: #6F9BFF;
            padding: 20px 30px;
            position: fixed;
            top: 0px;
            bottom: 0px;
        }

        .nav-hd {
            color: white;
            font-size: 24px;
            font-weight: 600;
            font-family: '微软雅黑';
            letter-spacing: 1px;
            text-align: center;
            margin: 25px 0px;
        }

        .nav-bd {
            margin-top: 50px;
        }

        .nav-item {
            height: 40px;
            background: #6F9BFF;
            border-radius: 20px;
            margin: 30px 0px;
            color: #fff;
            text-align: center;
        }

        .current {
            height: 40px;
            background: #fff;
            border-radius: 20px;
            margin: 30px 0px;
            color: #fff;
            text-align: center;
        }

        .nav-item a {
            height: 40px;
            line-height: 40px;
            color: #fff;
            vertical-align: middle;
        }

        .current a {
            height: 40px;
            line-height: 40px;
            color: rgb(42, 130, 228);
            vertical-align: middle;
        }

        img {
            vertical-align: middle;
            margin-right: 10px;
        }

        .nav-item .img1 {
            display: inline-block;
        }

        .nav-item .img2 {
            display: none;
        }

        .current .img1 {
            display: none;
        }

        .current .img2 {
            display: inline-block;
        }

        .logout {
            height: 80px;
            text-align: right;
            vertical-align: middle;
            box-shadow: 3px 3px 3px rgb(0 0 0 / 10%);
            font-size: 16px;
        }

            .logout img {
                height: 50px;
                width: 1090px;
                opacity: 40%;
                position: absolute;
                top: 30px;
                left: 250px;
            }

            .logout a {
                vertical-align: middle;
                height: 80px;
                line-height: 80px;
                margin: 0px 20px;
                color: #6F9BFF;
            }

                .logout a:hover {
                    color: rgb(42, 130, 228);
                }

            .logout span {
                vertical-align: middle;
                color: rgba(128, 128, 128, 0.859);
                height: 80px;
                line-height: 80px;
            }

        .t-succ {
            box-shadow: 0px 2px 8px rgb(0 0 0 / 30%);
            position: fixed;
            top: 55%;
            left: 55%;
            transform: translate(-50%,-50%);
            width: 800px;
            height: auto;
            border: 1px solid #1678be; /*边框*/
            border-radius: 5px 5px 0 0; /*边框圆角*/
            background-color: #fff;
        }

        .pay-tips {
            border-top: 0;
        }

        .tips-hd {
            height: 40px;
            line-height: 38px;
            color: #fff;
            padding-left: 20px;
            font-size: 18px;
            position: relative;
            background-color: #6F9BFF;
        }

        .tip {
            padding-top: 5px;
            font-size: 30px;
            line-height: 30px;
            margin-left: 50px;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        button {
            height: 30px;
            width: 100px;
            border: none;
            border-radius: 5px;
            background-color: darkorange;
            color: #FFFFFF;
        }

            button:hover {
                background-color: rgba(255, 140, 0, 0.642);
                cursor: pointer;
            }
    </style>
</head>
<body>
    <div class="nav">
        <div class="nav-hd">
            铁路购票系统
        </div>
        <hr style="margin-top: 45px;color:#fff">
        <div class="nav-bd" id="nav">
            <ul>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/系统首页1.png">
                    <img class="img2" src="/Person/image/系统首页2.png">
                    <a href="/Home/Index">系统首页</a>
                </li>
                <li class="current nav-item">
                    <img class="img1" src="/Person/image/订票中心1.png">
                    <img class="img2" src="/Person/image/订票中心2.png">
                    <a href="/Train/Index">订票中心</a>
                </li>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/个人信息1.png">
                    <img class="img2" src="/Person/image/个人信息2.png">
                    <a href="/Person/information">个人信息</a>
                </li>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/我的订单1.png">
                    <img class="img2" src="/Person/image/我的订单2.png">
                    <a href="/Person/ticket">我的订单</a>
                </li>
                <li class=" nav-item">
                    <img class="img1" src="/Person/image/安全中心1.png">
                    <img class="img2" src="/Person/image/安全中心2.png">
                    <a href="/Person/account">安全中心</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="logout">
        <img src="/Train/images/train.png">
        <span>您好！</span>
        <span>@Model.Myuser.UserRName</span>
        <a href="/Login/Index">退出登录</a>
    </div>

    <div class="t-succ">
        <div class="tips-hd">
            退票申请
        </div>
        <div class="pay-tips">
            @{
                if (Model != null)
                {
                    if (Model.IsLogin == -1)
                    {
                <div class="tip" style="color: #26a306;">
                    <img src="/Person/image/right.png" alt="加载失败" style="width: 30px; line-height: 30px; vertical-align: middle;">
                    <strong>退票成功！</strong>
                </div>
                    }
                    else
                    {
                <div class="tip" style="color: red;">
                    <img src="/Person/image/wrong.png" alt="加载失败" style="width: 30px; line-height: 30px; vertical-align: middle;">
                    <strong>退票失败！</strong>
                </div>
                    }

                }
            }
            <div style="text-align:center;">
                <button type="button" onclick="location.href=('/Person/ticket')">返回订单中心</button>
            </div>
            <br>
        </div>
    </div>
</body>
</html>