@model ReturnModels.Login
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>12306登录</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/Login/css/m_login.css">



</head>
<body>
    <div class="page-container">
        <h1 style="padding-left: 170px;margin-bottom: 50px;padding-top: 85px;">管理员登录</h1>
        <div class="login">
            <form method="post" action="~/Admin/Index">
                <input type="text" name="username" id="username" class="username" placeholder="请输入管理员用户名">
                <input type="password" name="password" id="password" class="password" placeholder="请输入管理员密码">
                <button type="submit" class="submit_button" id="button">登录</button>
                <div class="error"><span>+</span></div>
            </form>
            @if (Model != null)
            {
                if (Model.IsVaild != -1)
                {
                    <script language="javascript">
                        alert("登录失败");
                    </script>
                }
                else
                {
                    <script language="javascript">
                        alert("登录成功,正在跳转...");
                        window.location.pathname = "/Admin/OrderQuery";
                    </script>
                }

            }
            </div>
        </div>
        <script src="/Login/js/jquery.js"></script>
</body>
</html>