@model ReturnModels.New_PWD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/Login/css/m_login.css">



</head>
<body onload='createCode()'>
    <div class="page-container">
        <h1 style="padding-left: 580px;margin-bottom: 50px;padding-top: 85px;">密码修改</h1>
        <div class="cpwd">
            <form method="post" action="/Login/ChangePWD">
                <input type="text" name="UserID" id="UserID" class="username" placeholder="请输入您的身份证号">
                <div class="errors"><span>请输入身份证号!</span></div>
                <input type="text" name="UserPhone" id="UserPhone" class="username" placeholder="请输入您的手机号码">
                <div class="errors"><span>请输入手机号码!</span></div>
                <button type="submit" class="submit_button1" id="button">确认</button>


                <div class="error"><span>+</span></div>
            </form>
        </div>
        @if (Model != null)
        {
            if (Model.Pwd =="")
            {
                <script language="javascript">
                    alert("修改密码失败")
                </script>
            }
            else
            {
                <script language="javascript">
                    alert("修改密码成功,请复制新密码：" + "@Model.Pwd" + "，确认以跳转至登录界面");
                    window.location.pathname = "/Login/index";
                </script>
            }

        }
    </div>
    <script src="/Login/js/jquery.js"></script>
</body>
</html>
