@model ReturnModels.Train_Index
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>train</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        ul {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        .nav {
            float: left;
            width: 160px;
            background-color: #6F9BFF;
            padding: 20px 30px;
            position: fixed;
            top: 0px;
            bottom: 0px;
        }

        .nav-hd {
            color: white;
            font-size: 24px;
            font-weight: 600;
            font-family: '微软雅黑';
            letter-spacing: 1px;
            text-align: center;
            margin: 25px 0px;
        }

        .nav-bd {
            margin-top: 50px;
        }

        .nav-item {
            height: 40px;
            background: #6F9BFF;
            border-radius: 20px;
            margin: 30px 0px;
            color: #fff;
            text-align: center;
        }

        .current {
            height: 40px;
            background: #fff;
            border-radius: 20px;
            margin: 30px 0px;
            color: #fff;
            text-align: center;
        }

        .nav-item a {
            height: 40px;
            line-height: 40px;
            color: #fff;
            vertical-align: middle;
        }

        .current a {
            height: 40px;
            line-height: 40px;
            color: rgb(42, 130, 228);
            vertical-align: middle;
        }

        img {
            vertical-align: middle;
            margin-right: 10px;
        }

        .nav-item .img1 {
            display: inline-block;
        }

        .nav-item .img2 {
            display: none;
        }

        .current .img1 {
            display: none;
        }

        .current .img2 {
            display: inline-block;
        }

        .logout {
            height: 80px;
            text-align: right;
            vertical-align: middle;
            box-shadow: 3px 3px 3px rgb(0 0 0 / 10%);
            font-size: 16px;
        }

            .logout img {
                height: 50px;
                width: 1090px;
                opacity: 40%;
                position: absolute;
                top: 30px;
                left: 250px;
            }

            .logout a {
                vertical-align: middle;
                height: 80px;
                line-height: 80px;
                margin: 0px 20px;
                color: #6F9BFF;
            }

                .logout a:hover {
                    color: rgb(42, 130, 228)
                }

            .logout span {
                vertical-align: middle;
                color: rgba(128, 128, 128, 0.859);
                height: 80px;
                line-height: 80px;
            }

        .content {
            margin: 0px 230px;
        }

        .image {
            position: relative;
        }

            .image img {
                height: 645px;
                width: 1295px;
                overflow: hidden;
                position: absolute;
                left: 0px;
                top: 20px;
                opacity: 90%;
                border-radius: 15px;
                box-shadow: 8px 8px 5px rgb(0 0 0 / 60%);
            }

        .query {
            position: absolute;
            top: 45%;
            left: 30%;
            height: auto;
            width: 400px;
            box-shadow: -8px 8px 5px rgb(0 0 0 / 10%);
        }

        .query-hd {
            border-radius: 8px 8px 0 0;
            border-width: 1px;
            color: rgb(255, 255, 255);
            height: 30px;
            line-height: 30px;
            width: auto;
            padding-left: 10px;
            background-color: #6F9BFF;
        }

        .query-bd {
            padding: 10px 0px;
            background-color: #eef1f8;
            opacity: 90%;
            border-top: none;
            border-radius: 0 0 8px 8px; /*边框圆角*/
            border: 1px solid #6F9BFF; /*边框*/
        }

            .query-bd ul {
                line-height: 40px;
                text-align: center;
            }

                .query-bd ul li {
                    float: left;
                    margin-left: 60px;
                    margin-right: 80px;
                }

        .btn {
            height: 28px;
            width: 80px;
            border: none;
            border-radius: 5px;
            background-color: rgb(255, 144, 71);
            color: #FFFFFF;
            font-size: 14px;
        }

            .btn:hover {
                background-color: rgba(255, 144, 71, 0.600);
                cursor: pointer;
            }
    </style>
</head>
<body>
    <div class="nav">
        <div class="nav-hd">
            铁路购票系统
        </div>
        <hr style="margin-top: 45px;color:#fff">
        <div class="nav-bd" id="nav">
            <ul>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/系统首页1.png">
                    <img class="img2" src="/Person/image/系统首页2.png">
                    <a href="/Home/Index">系统首页</a>
                </li>
                <li class="current nav-item">
                    <img class="img1" src="/Person/image/订票中心1.png">
                    <img class="img2" src="/Person/image/订票中心2.png">
                    <a href="/Train/Index">订票中心</a>
                </li>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/个人信息1.png">
                    <img class="img2" src="/Person/image/个人信息2.png">
                    <a href="/Person/information">个人信息</a>
                </li>
                <li class="nav-item">
                    <img class="img1" src="/Person/image/我的订单1.png">
                    <img class="img2" src="/Person/image/我的订单2.png">
                    <a href="/Person/ticket">我的订单</a>
                </li>
                <li class=" nav-item">
                    <img class="img1" src="/Person/image/安全中心1.png">
                    <img class="img2" src="/Person/image/安全中心2.png">
                    <a href="/Person/account">安全中心</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="logout">
        <img src="/Train/images/train.png">
        <span>您好！</span>
        @{
            if (Model == null || Model.Myuser.UserPID == null)
            {
            <a href="/Login/Index">请登录</a>
            }
            else
            {
            <span>@Model.Myuser.UserRName</span>
            <a href="/Login/Index">退出登录</a>
            }
        }
    </div>

    <div class="content">
        <div class="image">
            <img src="/Train/images/main.png">
        </div>
        <div class="query" id="sc">
            <div class="query-hd">选择车票</div>
            <div class="query-bd">
                <form method="post" action="/Train/Buy">
                    <ul>
                        <li>
                            <span>始&nbsp;发&nbsp;站：</span>
                            <input onclick="in1()" id="start_station" name="start_station">
                        </li>
                        <li>
                            <span>终&nbsp;点&nbsp;站：</span>
                            <input onclick="in2()" name="end_station" id="end_station">
                        </li>
                        <li>
                            <p name="da">
                                <span>出发日期：</span>
                                <select name="date" onchange="ch()">
                                </select>
                                <select name="datem" onchange="chm()">
                                </select>
                                <select name="dated">
                                </select>
                            </p>

                        </li>
                        <button class="btn" type="submit" style="width: 100px; border-width: 1px" value="查询">查询</button>
                    </ul>
                </form>
            </div>

            <div id="xuanze" style='display: none; position:absolute; border:1px solid rgb(121, 173, 245); top:40px; left: 330px;height:121px; width: 400px;overflow:hidden; overflow-y:auto; background-color: rgb(255, 255, 255);'></div>
        </div>
    </div>
    <script>
        var d = new Date();
        var year = d.getFullYear();
        var year2 = d.getFullYear() + 1;
        var month = d.getMonth() + 1;
        var today = d.getDate();
        var md = new Array();
        if (yearc % 4 == 0)
            md = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        else
            md = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        var daa = 0;
        var daiin = document.getElementsByTagName("select")[0];
        var mouseoption = 1;
        var dateoption = 1;
        var nextdate = 1;
        var nextyear = 1;
        var nextmonth = month + 1;
        if (today + 7 > md[month - 1]) {
            mouseoption = 2;
            dateoption = 2;
            nextdate = 6 - md[month - 1] + today;
        }
        if (mouseoption == 2 && mouse == 11) {
            nextyear = 2;
            nextmonth = 0;
        }
        if (nextyear == 1) {
            daiin.innerHTML += "<option>" + year + "</option>";
        }
        else {
            daiin.innerHTML += "<option>" + year + "</option>";
            daiin.innerHTML += "<option>" + year + 1 + "</option>";
        }

        var daiin2 = document.getElementsByTagName("select")[1];
        if (mouseoption == 1) {
            daiin2.innerHTML += "<option>" + month + "</option>";
        }
        else {
            daiin2.innerHTML += "<option>" + month + "</option>";
            daiin2.innerHTML += "<option>" + nextmonth + "</option>";
        }


        var daiin3 = document.getElementsByTagName("select")[2];
        var yearc = document.getElementsByName("date")[0].value;
        var mousc = document.getElementsByName("datem")[0].value;



        function ch() {
            yearc = document.getElementsByName("date")[0].value;
        }
        function chm() {
            yearc = document.getElementsByName("datem")[0].value;
        }
        var dj = 0;
        if (mouseoption == 1) {
            for (dj = today; dj < today + 7; dj++) {
                daa = dj;
                daiin3.innerHTML += "<option>" + daa + "</option>";
            }
        }
        else if (mousc - 1 == month) {
            for (dj = today; dj < md[month]; dj++) {
                daa = dj;
                daiin3.innerHTML += "<option>" + daa + "</option>";
            }

        }
        else {
            for (dj = 0; dj < nextdate; dj++) {
                daa = dj + 1;
                daiin3.innerHTML += "<option>" + daa + "</option>";
            }
        }
    </script>

    <script>
        function in1() {
            lis(1, document.getElementById('start_station').value);
            var be = document.getElementById('xuanze');
            be.style.top = '40px';
            if (document.getElementById('xuanze').style.display == "none")
                document.getElementById('xuanze').style.display = "block";
            else
                document.getElementById('xuanze').style.display = "none";
            document.getElementById('start_station').onfocus = function () {
                document.getElementById('xuanze').style.display = "none";
            }
        }
        function in2() {
            lis(2, document.getElementById('end_station').value);
            var be2 = document.getElementById('xuanze');
            be2.style.top = '85px';
            if (document.getElementById('xuanze').style.display == "none")
                document.getElementById('xuanze').style.display = "block";
            else
                document.getElementById('xuanze').style.display = "none";
            document.getElementById('end_station').onfocus = function () {
                document.getElementById('xuanze').style.display = "none";
            }
        }
        function cd(obj) {
            document.getElementById('start_station').value = obj.innerHTML;
            document.getElementById('xuanze').style.display = "none";
        }
        function cd2(obj) {
            document.getElementById('end_station').value = obj.innerHTML;
            document.getElementById('xuanze').style.display = "none";
        }
    </script>
    @{
        <script>
            var a = new Array();
        </script>
        for (int i = 0; i < Model.Station.Count; i++)
        {
        <script>
                a.push("@Model.Station[i].StationName");
        </script>
        }
    }


    <script>
        function lis(p, cha) {

            var a2 = new Array();
            var i2 = 0;
            var i3 = 0;
            var x = 0;
            var y = 0;
            var chu;
            if (p == 1)
                chu = "cd(this)";
            else
                chu = "cd2(this)";
            var before = document.getElementById('xuanze');
            for (i2 = 0; i2 < a.length; i2++) {
                x = 0 + i2 % 4 * 100;
                y = 0 + Math.floor(i2 / 4) * 25;
                if (i2 > a.length || i2 == a.length) {
                    //before.innerHTML += "<button id='" + i + "' onclick='" + chu +"' style='background-color: rgb(255, 255, 255); position:absolute; border-width:1px; top:"+y+"px; left: "+x+"px; width: 50px'>&emsp;</button>";

                    before.innerHTML += "<button id='" + i2 + "' onclick='" + chu + "' style='background-color: #f0f2f6;position:absolute; border-width:1px; top:" + y + "px; left: " + x + "px; width: 90px;height:20px;pxborder:none;cursor:pointer;'>&emsp;</button>";
                    continue;
                }
                //before.innerHTML += "<button id='" + i + "' onclick='" + chu +"' style='background-color: rgb(255, 255, 255); position:absolute; border-width:1px; top:"+y+"px; left: "+x+"px; width: 50px'>"+a2[i2]+"</button>";

                before.innerHTML += "<button id='" + i2 + "' onclick='" + chu + "' style='background-color: #f0f2f6;position:absolute; border-width:1px; top:" + y + "px;left: " + x + "px; width: 90px;height:20px;border:none;cursor:pointer;'>" + a[i2] + "</button>";

            }
        }
    </script>
    <script type="text/javascript">
        let oMenu = my$('nav');
        let oUL = getFirstElementChild(oMenu);
        // 获取 id
        function my$(id) {
            return document.getElementById(id);
        }
        // 获取第一个元素
        function getFirstElementChild(element) {
            let node;
            let nodes = element.childNodes;
            let i = 0;
            //遍历返回元素节点，当元素节点为空时返回null
            while (node = nodes[i++]) {
                if (node.nodeType === 1) {
                    return node;
                }
            }
            return null;
        }
        // 添加注册事件
        //for (let i = 0; i < oUL.children.length; i++) {
        //    let oLi = oUL.children[i];
        //    oLi.onclick = LiClick;
        //}
        //function LiClick() {
        //    for (let i = 0; i < oUL.children.length; i++) {
        //        let oLi = oUL.children[i];
        //        oLi.className = 'nav-item';
        //    }
        //    this.className = 'current';
        //    return false;
        //}
    </script>
</body>
</html>